<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Counter APP</title>
</head>
<body>
    <h1 style="text-align: center; font-size: xx-large; margin: 25px; padding: auto;">Counter Project</h1>
    <div style="display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center; flex-direction: column; padding: 20px;">
      {% csrf_token %}
        <h1 style="text-align: center;" id="count" value="0">{{number }}</h1>
  <button style="font-size: 50px; width: 100px; " id="para" onclick="getNumber()" > <i class="fa-solid fa-thumbs-up"></i></button>

</div>
    <div style="display: flex; justify-content: center; flex-direction: column; ">
      {% csrf_token %}
        <h1 style="text-align: center;" id="dislike">{{number}}</h1>
  <button style="font-size: 50px; width: 100px; " id="dispara"  onclick="getNumb()"> <i class="fa-solid fa-thumbs-down"></i></button>

</div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/95597e8978.js" crossorigin="anonymous"></script>
    <script>
            let dataa;
        let anss; 

        async function makeReq(url,method,body){
          let  headers={
            'X-Requested-With':'XMLHttpRequest',
            'Content-type':'appliation/json',
            'charset':'utf8'
        }

        if (method=='post'){
            const csrf=document.querySelector('[name=csrfmiddlewaretoken]').value
            headers['X-CSRFToken']=csrf 
        }

        let response=await fetch(url,{
            method:method,
            headers:headers,
            body:body
        })
        return await response.json()
        }
async function getNumb(){
    
 let dataa =await makeRequest('/star-wars/species/','get')
    console.log(await dataa)
      anss=1
      var summ = 0;
    for (var i = 0; i < dataa.length; i++) {

      summ += dataa[i].temp
      console.log(typeof(dataa[i].temp))
      console.log(summ)
    }
    document.getElementById('dislike').innerHTML=summ;
    document.getElementById('dispara').addEventListener('click',getfloatnumb);
    }
    
async function getfloatnumb(e){
    fetch("/star-wars/species/", {

// Adding method type
method: "POST",

// Adding body or contents to send
body: JSON.stringify({
temp:anss
}),
// Adding headers to the request
headers: {
"Content-type": "application/json; charset=UTF-8"
}
})

// Converting to JSON
.then(response => response.json())

// Displaying results to console
.then(json => console.log(json));
    }
   

    </script>
    <script>
        let data;
        let ans; 

        async function makeRequest(url,method,body){
          let  headers={
            'X-Requested-With':'XMLHttpRequest',
            'Content-type':'appliation/json',
            'charset':'utf8'
        }

        if (method=='post'){
            const csrf=document.querySelector('[name=csrfmiddlewaretoken]').value
            headers['X-CSRFToken']=csrf 
        }

        let response=await fetch(url,{
            method:method,
            headers:headers,
            body:body
        })
        return await response.json()
        }
async function getNumber(){
    
 let data =await makeRequest('/star-wars/people/','get')
    console.log(await data)
      ans=1;
      var sum = 0;
    for (var i = 0; i < data.length; i++) {
      sum += data[i].count
    }
    // console.log(ans)
    document.getElementById('count').innerHTML=sum;
    document.getElementById('para').addEventListener('click',getfloatnumber);
    }
async function getfloatnumber(e){
    fetch("/star-wars/people/", {

// Adding method type
method: "POST",

// Adding body or contents to send
body: JSON.stringify({
count:ans
}),
// Adding headers to the request
headers: {
"Content-type": "application/json; charset=UTF-8"
}
})

// Converting to JSON
.then(response => response.json())

// Displaying results to console
.then(json => console.log(json));
    }
   
    </script>
</body>
</html>